body{
	font-family: Arial, sans-serif;
	background-color: #222;
	color: white;
}

.container{
	padding: 10px 50px;
}

.btn{
	border: none;
	background-color: #4f4;
	padding: 15px 30px;
	color: white;
}

.control{
	border: none;
	padding: 10px 15px;
	width: -webkit-fill-available;
}

.tableControl tr td{
	padding: 5px;
}

.tableControl{
	width: -webkit-fill-available;
}

.cursorHand{
	cursor: pointer;
}

.addedValueItem{
	transition: 250ms;
}
.addedValueItem:hover{
	color: maroon;
	cursor: pointer;
}

.group{
	background-color: rgba(0, 0, 10, 0.25);
	border-radius: 5px;
	margin: 0px 6px;
	position: relative;
}

#exportStructBtn{
	background-color: rgba(0, 50, 50, 1);
}

#addClassBtn{
	background-color: rgba(10, 40, 90, 1);
}

#addMethodBtn{
	background-color: rgba(80, 125, 10, 1);
}

#versionTxt{
	width: max-content;
	font-size: 14px;
    padding: 25px 10px;
    font-family: monospace;
    float: right;
    color: rgb(121, 121, 121);
}

#copyClipboardBtn{
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 13px;
	border: 1px solid white;
	border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
	background-color: transparent;
	color: white;
	cursor: pointer;
	transition: 500ms;
}

#copyClipboardBtn:hover{
	background-color: white;
	color: black;
}

h2{
	padding: 5px 10px;
}

@media (max-width: 800px) {
	.panelItem{
		width: 100%;
	}
	.addTable{
		width: 100%;
	}
}

@media (min-width: 800px) {
	.panelItem{
		width: 50%;
		float: left;
	}
}